/* ===== VARIABLES ===== */
:root {
    --bg: #0e1324;
    --text: #e9e9e9;
    --card: #1b2541;
    --accent: #00d9ff;
}

body.light {
    --bg: #ffffff;
    --text: #111111;
    --card: #f2f2f2;
    --accent: #0077ff;
}

/* ===== GENERAL ===== */
body {
    background: var(--bg);
    color: var(--text);
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

/* NAVBAR */
.navbar {
    padding: 20px 40px;
    background: var(--card);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 20px #00d9ff55;
}

.logo {
    color: var(--accent);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--text);
}

.btn-small {
    background: var(--accent);
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

/* HERO */
.hero {
    padding-top: 120px;
    text-align: center;
}

.hero-content h1 { font-size: 40px; }
.hero-content .accent { color: var(--accent); }

.btn {
    background: var(--accent);
    color: black;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
}

/* SECTIONS */
.section { padding: 100px 40px; text-align: center; }

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: var(--card);
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 20px #00d9ff44;
}

/* LOGIN PAGE */
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box,
.register-box {
    width: 350px;
    padding: 30px;
    background: var(--card);
    border-radius: 10px;
    box-shadow: 0 0 25px #00d9ff55;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: #142038;
    border: none;
    border-radius: 5px;
    color: var(--text);
}

.switch-text {
    color: var(--accent);
    cursor: pointer;
    margin-top: 10px;
}

.hidden { display: none; }
